.modal__close {
  background-image: url("../../assets/X_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}
