.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: auto;
}

.footer__text {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
